global
    log stdout  format raw  local0 debug
    daemon
    lua-load config.lua
    lua-load acme.lua

defaults
    log global
    mode http
    option httplog
    timeout connect 5s
    timeout client 10s
    timeout server 10s

listen http
    bind *:80
    http-request use-service lua.acme if { path_beg /.well-known/acme-challenge/  }

listen acme
    bind 127.0.0.1:9011
    http-request use-service lua.acme

listen acme-ca
    bind 127.0.0.1:9012
    server ca acme-v02.api.letsencrypt.org:443 ssl verify none
    http-request set-header Host acme-v02.api.letsencrypt.org
